@font-face {
    font-family: LexendDeca;
    src: url(font/LexendDeca-Regular.ttf);
}
.container {
    font-family: LexendDeca;
    background-color: #093545;
    
}
.margin0 {
    max-width: 400px;
    margin: 0 auto;
    height: 600px;
    
   
}
h1 {
    text-align: center;
    padding-top: 117px;
    color: white;
    font-size: 54px;
}
p {
    text-align: center;
    color: white;
}
.fname {
    padding: 10px 18px;
    width: 350px;
    height: 30px;
    
    margin: 10px;
    background: #224957;
    border-radius: 10px;
    outline: none;
    
}
.btn-custom {
    background-color: #20DF7F;
    color: white;   
    margin: 10px;
    border-radius: 80px;
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.1em
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 20px;
    margin: 10px;
}